---
layout: default
---

<div class="wrapper">
  <section>
    <div id="title">
      <p>{{ site.description | default: site.github.project_tagline }}</p>
      <h1>{{ page.title }}</h1>
      {% if page.subtitle %}<p>"{{ page.subtitle }}"</p>{% endif %}
      <br><hr>
    </div>
    {{ content }}
    <hr>
    <div style="text-align: center;">
      <span style="float: left;">
        {% if page.previous %}
          <a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
        {% else %}
          <a>&larr; Previous</a>
        {% endif %}
      </span>

      <span style="float: right;">
        {% if page.next %}
          <a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a>
        {% else %}
          <a>Next &rarr;</a>
        {% endif %}
      </span>
      </nav>
    </div>
  </section>
</div>
