---
layout: default
---
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@zinkemp" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:image" content="https://zinkem.github.io/assets/logo_cropped.png" />

<div class="wrapper">
  <section>
    <div id="title">
      <p><img src="/assets/logo_cropped.png"><br/>{{ site.description | default: site.github.project_tagline }}</p>
      <h1>{{ page.title }}</h1>
      {% if page.subtitle %}<p>"{{ page.subtitle }}"</p>{% endif %}
      <br><hr>
    </div>
    {{ content }}
    <hr>
    <nav>
    <div style="text-align: center;">
      <span style="float: left;">
        {% if page.previous %}
          <a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
        {% else %}
          <a>&larr; Previous</a>
        {% endif %}
      </span>

      <span style="float: right;">
        {% if page.next %}
          <a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a>
        {% else %}
          <a>Next &rarr;</a>
        {% endif %}
      </span>
      </nav>
    </div>
  </section>
</div>
